{{#if ok}}
<div class="container">
    <table class="table table-success table-striped">
    <thead>
        <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Img</th>
        </tr>
    </thead>
    <tbody>
            {{#each listProducts}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img src={{this.thumbnail}} alt="" style="width: 40px;"></td>
                </tr>
            {{/each}}
    </tbody>
    </table>
</div>
{{else}}
<div class="alert alert-primary" role="alert">
  There are no products
</div>
{{/if}}